body {
  background-color: #1D0F24;
  color: #ccc;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 70% 30%;
}

.column_map {
  grid-column: 1 / 2;
}

.column_text {
  grid-column: 2 / 3;
  border: 1px solid #ccc;
  margin-right: 15%;
  padding: 10px;
}

#marker-links {
  margin-top: 20px;
  text-align: center;
}

#location_pics img {
  max-width: 100%;
}

#map {
  margin: 20px;
  margin-left: 30px;
  height: 600px;
  width: 90%; /* Adjust this value as needed */
  max-width: 100%; /* Add this line to restrict the maximum width */
  background-color: #12091A;
  border: 5px dashed #ccc;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 100%;
  }

  #map {
    height: 400px;
    margin-bottom: 20px;
  }
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  position: absolute;
  width: 60px !important;
  height: 45px !important;
  left: -15px;
  background-color: #ccc !important;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0px;
  text-align: center;
  padding-top: 9px !important;
}

.leaflet-control-zoom-in {
  top: 30px;
  border-radius: 0px 14px 14px 0px !important;
}

.leaflet-control-zoom-out {
  top: 101px;
  border-radius: 0px 14px 14px 0px !important;
}

.planet-link {
  color: #ccc;
  font-weight: bold;
  text-align: center;
}